table {
  margin: 100px auto;
  border-spacing: 0px;
}

td {
  border: 5px solid #fff;
  background-color: black;
  color: #fff;
  text-align: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.table__row {
  transform: translateX(-100px);
}
